/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: 'Noto Sans TC', sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* navbar */
.container {
  width: 100%;
  margin: 0 auto;
}

.border-warning {
  border-color: #ffdf65 !important;
}

.logo {
  height: 40px;
  width: 111px;
}

.navbar-toggler {
  color: rgba(0, 0, 0, 0.55);
}

.navbar-nav .nav-item {
  padding: 0 24px;
}

.navbar-nav .nav-link {
  text-decoration: none;
  font-size: 16px;
  color: #636057;
  letter-spacing: 0;
  text-align: left;
}

.nav-link:hover {
  color: grey;
}

.btn {
  font-weight: bold;
  font-size: 16px;
  color: #636057;
  text-align: center;
  background-color: #FFDF65;
  border: 3px solid #FFDF65;
  border-radius: 19px;
  padding: 7px 32px;
}

.yellow-btn:hover {
  color: #FFDF65;
  background-color: #FFFFFF;
  border: 3px solid #FFDF65;
}

.grey-btn {
  border: 3px solid #858377;
  border-radius: 19px;
  background-color: #FFFFFF;
  margin-left: 16px;
}

.grey-btn:hover {
  background-color: #858377;
  color: #FFFFFF;
}

/* main */
.main-section {
  background-color: #F8F9FA;
  padding-bottom: 2rem;
}

@media screen and (min-width:992px) {
  .main-section {
    padding-bottom: 4rem;
  }
}

.main-section .container {
  padding-top: 1rem;
}

@media screen and (min-width:992px) {
  .main-section .container {
    padding-top: 2.9125rem;
  }
}

@media screen and (min-width:992px) {
  .container-main {
    display: flex;
  }
}

.main-span {
  background-color: #858377;
  color: #fbfbfb;
  height: 22px;
  width: 80px;
  display: block;
  border-radius: 4px;
  padding: 3px 16px;
  font-size: 0.75rem;
  margin-bottom: 0.8rem;
}

h1 {
  font-weight: 700;
  font-size: 32px;
  color: #494846;
  letter-spacing: 3px;
  margin-bottom: 1.5rem;
  /* 設計稿上24、24/16=1.5rem */
}

@media screen and (min-width:992px) {
  .main-photo {
    width: 58.333%;
  }
}

@media screen and (min-width:992px) {
  .main-photo {
    margin-right: 1.5rem;
  }
}

.main-description {
  width: 100%;
}

@media screen and (min-width:992px) {
  .main-description {
    width: 41.667%;
  }
}

.main-description .target {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 14px;
  color: #636057;
  line-height: 1.25rem;
  margin-bottom: 0.29375rem;
}

.main-description .price {
  font-family: 'Baloo Tamma 2', sans-serif;
  font-size: 2rem;
  color: #494846;
  padding: 0.75rem 0;
}

.progress {
  background-color: #EEEEEE;
  border-radius: 8px;
  margin-bottom: 1.24375rem;
}

.progress-bar {
  background-color: #ffdf65;
  color: #858377;
}

.day-amount {
  display: flex;
  color: #636057;
  font-size: 14px;
  margin-bottom: 1.34375rem;
}

.amount {
  margin-right: 11.25rem;
}

.day-amount-p {
  font-family: 'Baloo Tamma 2', sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #494846;
  margin-top: 0.85625rem;
}

.day-amount span {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 24px;
}

.icons {
  margin-bottom: 1.0625rem;
  display: flex;
  justify-content: space-around;
}

@media screen and (min-width:992px) {
  .icons {
    margin-bottom: 0.99375rem;
    justify-content: flex-start;
  }
}

.icons a {
  color: #636057;
  text-decoration: none;
}

@media screen and (min-width:992px) {
  .icons-item {
    padding: 0 0.78125rem;
  }
}

.icons-item span {
  padding-left: 0.5rem;
  font-size: 0.75rem;
}

@media screen and (min-width:992px) {
  .icons-item span {
    display: none;
  }
}

.tooltip {
  display: none;
}

@media screen and (min-width:992px) {
  .tooltip {
    display: inline-block;
  }
}

.tooltip-inner {
  background-color: #494846;
  color: #ffdf65;
  border-radius: 4px;
}

.tooltip-arrow {
  color: #494846;
}

.main-description .des {
  border-radius: 8px;
  background-color: #FFFFFF;
  color: #636057;
  line-height: 1.5rem;
  display: flex;
  border-left: 3px solid #FFDF65;
  padding: 0.875rem 2.25rem 0.875rem 1rem;
  margin-bottom: 1.5rem;
}

.main-description-btn {
  width: 100%;
  background-color: #FFDF65;
  border: 1px solid #FFDF65;
  color: #636057;
  border-radius: 26px;
  padding: 17px 36px;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 0.5rem;
}

.track-share {
  display: flex;
}

.track-share-btn {
  display: block;
  width: 50%;
  border: 3px solid #858377;
  background-color: #FFFFFF;
  ;
  margin-right: 8px;
}

.track-share-btn:hover {
  background-color: #FFDF65;
  color: #636057;
  border: 3px solid #FFDF65;
}

@media screen and (min-width:992px) {
  .track-btn {
    width: 60%;
  }
}

@media screen and (min-width:992px) {
  .share-btn {
    width: 40%;
  }
}

/* login modal */
.modal-content {
  padding-bottom: 2rem;
}

.modal-title {
  font-weight: 700;
  font-size: 1.5rem;
  color: #373A3C;
}

.modal a {
  font-size: 0.875rem;
  text-decoration: none;
  color: #858377;
}

.modal input {
  background: #F7F7F7;
  border: 0;
  border-radius: 4px;
}

.modal .btn {
  width: 100%;
  font-size: 20px;
}

.modal .btn:hover {
  background-color: #FFFFFF;
  color: #FFDF65;
  border: 3px solid #FFDF65;
}

.modal-footer {
  border: 0;
}

.reminder-text {
  font-size: 0.625rem;
  color: #858377;
  display: flex;
  justify-content: space-around;
  margin-top: 2.25rem;
}

@media screen and (min-width:992px) {
  .reminder-text {
    font-size: 0.875em;
  }
}

.reminder-text div {
  height: 1px;
  width: 6rem;
  border-bottom: 1px solid #E8E8DB;
  margin-top: 0.375rem;
}

.reminder-text a {
  font-size: 0.625rem;
  text-decoration: none;
  color: #ff785e;
}

@media screen and (min-width:992px) {
  .reminder-text a {
    font-size: 0.875rem;
  }
}

/*tabs*/
.container-nav {
  position: sticky;
  top: 0;
  width: 100%;
  margin-bottom: 2rem;
  border-top: 1px solid #E8E8DB;
  border-bottom: 1px solid #E8E8DB;
  background-color: #fff;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
  padding-bottom: 0;
}

@media screen and (min-width:992px) {
  .nav {
    justify-content: flex-start;
    padding-top: 1.375rem;
  }
}

.nav .nav-link {
  color: #636057;
  font-size: 14px;
  letter-spacing: 1.75px;
  text-align: center;
  padding: 0 0.75rem 0.875rem;
  border-radius: 0;
}

@media screen and (min-width:992px) {
  .nav .nav-link {
    font-size: 1rem;
    padding: 0 0.75rem 1.25rem;
    margin-right: 1.75rem;
  }
}

.nav .active {
  border-bottom: 2px solid #FFDF65;
}

.nav-pills .nav-link.active {
  font-weight: bold;
  color: #636057;
  background-color: #FFFFFF;
}

/* intro details */
@media screen and (min-width:992px) {
  .intro-details {
    display: flex;
  }
}

@media screen and (min-width:992px) {
  .details-sponsor {
    width: 66.66%;
    margin-right: 3rem;
  }
}

.details .h3 {
  font-weight: 700;
  font-size: 20px;
  color: #494846;
  letter-spacing: 1.6px;
  border-left: 4px solid #FFDF65;
  margin-top: 1rem;
  padding-left: 0.9375rem;
}

.details p {
  color: #494846;
  line-height: 2rem;
}

.details img {
  width: 100%;
}

.img-2 {
  margin-top: 1rem;
}

.sponsor {
  margin-top: 2rem;
}

.sponsor-img {
  display: flex;
  justify-content: center;
}

.sponsor .progress {
  height: 3px
}

.sponsor h5 {
  font-size: 1.25rem;
  letter-spacing: 1.6px;
}

@media screen and (min-width:992px) {
  .sponsor h5 {
    font-size: 1.5rem;
    letter-spacing: 1.92px;
  }
}

.sponsor-form {
  padding-top: 1rem;
}

@media screen and (min-width:992px) {
  .sponsor-form {
    padding-top: 1.5rem;
  }
}

.sponsor-form select, .sponsor-form input {
  height: 2.375rem;
  width: 100%;
  font-size: 14px;
  border: none;
  background-color: #F7F7F7;
  box-shadow: 0px 3px 4px 0px rgb(0 12 29 / 6%);
  border-radius: 4px;
  margin-bottom: 1rem;
  padding-left: 10px;
  padding-right: 10px;
}

.sponsor-form label {
  font-size: 14px;
  color: #373A3C;
  margin-bottom: 0.5rem;
}

.sponsor-form .btn {
  width: 100%;
}

@media screen and (min-width:992px) {
  .sponsor-form .btn {
    width: 24.275%;
    margin: 0 17.625rem;
    ;
  }
}

/* faq */
.question-item {
  display: block;
  border: 1px solid #E5E5E5;
  box-shadow: 0 0 8px 0 rgba(73, 72, 70, 0.15);
  border-radius: 4px;
  padding: 0.75rem 0.875rem 0.875rem 0.875rem;
  margin-bottom: 1rem;
}

@media screen and (min-width:992px) {
  .question-item {
    padding: 0.75rem 1.25rem 1rem 1.25rem;
  }
}

.question {
  display: flex;
}

.question-h3 {
  color: #494846;
  padding-top: 5px;
}

.question-icon {
  font-family: 'Baloo Tamma 2', sans-serif;
  font-size: 14px;
  color: #636057;
  letter-spacing: 0.7px;
  text-align: left;
  padding: 6px;
  background-color: #FFDF65;
  border-radius: 4px;
  margin-right: 1rem;
}

.accordion-button {
  padding: 0;
}

.accordion-button:not(.collapsed) {
  color: #494846;
  background-color: #FFFFFF;
  box-shadow: none;
}

.accordion-button::after {
  width: 14px;
  height: 14px;
  color: #494846;
  background-color: #FFFFFF;
  background-size: 14px;
}

.faq-list .card-body {
  border-bottom: none;
  border-left: none;
  border-right: none;
  padding: 1rem 0 0 0;
  margin-top: 11.7px;
  color: #858377;
  letter-spacing: 0.8px;
  text-align: left;
  line-height: 27px;
}

@media screen and (min-width:992px) {
  .faq-list .card-body {
    padding-left: 2.75rem;
  }
}

/* progress */
.progress-list .card {
  width: 100%;
  border-radius: 8px;
}



.card-row{
  display: flex;
}

.progress-list img, .progress-list .description{

    width: 100%;
    height: 100%;

}


.card-title {
  font-weight: 700;
  color: #494846;
  letter-spacing: 0.7px;
  text-align: left;
}

.progress-list .progress-item{
  margin-bottom: 1rem;
}

.progress-list .progress-item .more{
  font-family: 'Baloo Tamma 2', sans-serif;
  font-weight: bold;
  color: #FF785E;
  text-decoration: none;
  letter-spacing: 0.8px;
  text-align: left;
}

@media screen and (min-width:992px) {
  .progress-list .progress-item .more{
    font-size: 0.875rem;
  }
}

.progress-list .progress-item .card-text{
  font-family: 'Baloo Tamma 2', sans-serif;
  font-size: 14px;
  color: #858377;
  letter-spacing: 0.49px;
  text-align: left;
  padding-bottom: 1.125rem;
}

@media screen and (min-width:992px) {
  .progress-list .progress-item .card-text{
    padding-bottom: 1rem;
  }
}

.progress-list .progress-item .card-text span{
  display: none;
}

@media screen and (min-width:992px) {
  .progress-list .progress-item .card-text span{
    display: block;
    padding-top: 1rem;
  }
}

/* comment */

.comment-list{
  border: 1px solid #E5E5E5;
  border-radius: 8px;
  padding: 1rem;
}

.user{
  display: flex;
}

.user-photo{
  height: 49.8px;
  width: 50px;
  margin-right: 1rem;
}

@media screen and (min-width:992px) {
  .user-photo{
    height: 59.8px;
    width: 60px;

  }
}

.user-name{
  font-weight: 500;
  color: #494846;
  letter-spacing: 1.6px;
  text-align: left;
  margin-top: 0.625rem;
}

@media screen and (min-width:992px) {
  .user-name{
    font-size: 20px;
    letter-spacing: 2px;
  }
}

.user-name .time{
  font-size: 12px;
  color: #858377;
  letter-spacing: 1.71px;
  text-align: left;
}

@media screen and (min-width:992px) {
  .user-name .time{
    font-size: 14px;
    letter-spacing: 2px;
  }
}

.comment{
  color: #373A3C;
  letter-spacing: 0.7px;
  text-align: justify;
  padding: 0.5rem 0;
  line-height: 1.5rem;
}

.provider-reply{
  background-color: #F8F9FA;
  border-radius: 4px;
  padding: 1rem;
}

.provider-reply p{
  font-size: 12px;
  color: #FF785E;
  letter-spacing: 0.52px;
  text-align: justify;
}


/* <!-- provider-info-program --> */
.pc {
  display: none;
}

.mobile {
  margin-top: 2rem;
}

@media screen and (min-width:992px) {
  .mobile {
    display: none;
  }

  .pc {
    display: block;
  }
}

@media screen and (min-width:992px) {
  .div-provider-info-program {
    width: 33.33%;
    overflow-y: scroll;
    position: sticky;
    top: 92px;
    height: calc(100vh - 92px)
  }
}

.provider-info {
  border: 1px solid #E5E5E5;
  border-radius: 8px;
  padding: 1rem;
}

.provider-photo-amount {
  display: flex;
}

.provider-photo-amount a {
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 500;
  color: #494846;
  letter-spacing: 1.8px;
  text-align: left;
}

.provider-photo-amount a p {
  font-size: 0.875rem;
  letter-spacing: 0.61px;
  margin-top: 7px;
}

.provider-photo {
  height: 70px;
  width: 70px;
  margin-right: 1rem;
}

.provider-photo a img {
  border-radius: 50%;
  border: 3px solid #FFDF65;
}

.provider-amount {
  padding-top: 0.9375rem;
}

.provider-info-p {
  font-weight: 400;
  color: #373A3C;
  line-height: 1.5rem;
  letter-spacing: 0.7px;
  margin: 1rem 0;
}

.contact-info {
  color: #858377;
  display: flex;
  justify-content: space-between;
  padding-left: 0.2rem;
}

.fa-facebook-square, .fa-youtube-square {
  font-size: 1.875rem;
  color: #858377;
}

.fa-facebook-square {
  margin-right: 0.5rem;
}

.contact-me {
  font-size: 12px;
  display: flex;
  align-items: center;
  padding: 5px 14px 7px;
  border: 1px solid #858377;
  border-radius: 15px;
}

.fa-comment-dots {
  font-size: 12px;
  color: #858377;
  margin-top: 4px;
  margin-right: 5px;
}

.program .title {
  height: 40px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #494846;
  letter-spacing: 2px;
  background-color: #F8F9FA;
  border-radius: 8px;
  border-left: 3px solid #FFDF65;
  border-right: 3px solid #FFDF65;
  padding: 6px 0;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.program .list .item {
  border: 1px solid #E8E8DB;
  border-radius: 8px;
  margin-top: 1rem;
}

.program .description {
  padding: 0.5rem 1rem 1rem 1rem;
}

.program .time-left {
  font-size: 0.875rem;
  color: #636057;
  letter-spacing: 2px;
  display: flex;
  justify-content: space-between;
}

.program .item .time-left .time {
  font-size: 0.75rem;
}

.program .item .name {
  font-size: 18px;
  font-weight: 700;
  color: #494846;
  letter-spacing: 2px;
  text-align: left;
}

.program .item .price {
  font-family: 'Baloo Tamma 2', sans-serif;
  font-size: 24px;
  color: #494846;
  text-align: left;
  margin: 1rem 0;
}

.program .item .tags {
  display: flex;
  justify-content: flex-start;
}

.program .item .tags-item {
  height: 22px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0;
  color: #858377;
  background-color: #E8E8DB;
  border-radius: 4px;
  padding: 2px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
}

.program .item .amount {
  color: #FFFFFF;
  background-color: #858377;
}

.program .item .amount span {
  color: #FFDF65;
}

.program .item .des {
  color: #858377;
  letter-spacing: 0.7px;
  text-align: justify;
  line-height: 24px;
  margin-top: 0.5rem;
}

.program .item .btn {
  width: 100%;
  margin-top: 1rem;
}

/* footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  color: #FFFFFF;
  letter-spacing: 0.2px;
  margin-top: 3rem;
  background-color: #494846;
  height: 3.375rem;
  width: 100%
}

@media screen and (min-width:992px) {
  .footer {
    height: 5.5rem;
  }
}
